@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #121214;
  border-radius: 20px;
}

.gradient-movies {
  background: linear-gradient(0deg, #121214 2%, #09090b6d 40%, #09090b00 50%, #09090b00 100%);
}

.gradient-series {
  background: linear-gradient(0deg, #00000080 50%, #00000000 100%);
}

.gradient-header {
  background: linear-gradient(180deg, #00000091 20%, #00000000 100%);
}

.slick-dots li button:before {
  font-size: 8px !important;
  width: 15px !important;
  height: 3px !important;
  background-color: #ffffff;
  content: ' ' !important;
  opacity: .40 !important;
}

.slick-dots {
  bottom: 25px !important;
}

.slick-dots li.slick-active button:before {
  background-color: #3ca1ff;
  opacity: 1 !important;
}

@layer base {
  :root {
    --background: #0f0f0f;
    --foreground: #fafafa;
    --card:  #1c1c1c;
    --card-foreground: #fafafa;
    --popover: #0f0f0f;
    --popover-foreground: #fafafa;
    --primary: #fafafa;
    --primary-foreground: #18181b;
    --secondary:  #27272a;
    --secondary-foreground: #fafafa;
    --muted:  #27272a;
    --muted-foreground: #a1a1aa;
    --accent:  #27272a;
    --accent-foreground: #fafafa;
    --destructive: #7f1d1d;
    --destructive-foreground: #fafafa;
    --border: #27272a;
    --input: #0f0f0f;
    --ring: #d4d4d8;
    --hover: #41414165;
    --chart-1: #2662d9;
    --chart-2: #2eb88a;
    --chart-3: #e88c30;
    --chart-4: #af57db;
    --chart-5: #e23670;
    --radius: 0.5rem;
  }

}
.d {
  /* background-color: #09090b; */
  /* background-color: #fafafa; */
  /* background-color: #121212; */
  /* background-color: #fafafa; */
  /* background-color: #09090b; */
  /* background-color: #fafafa; */
  /* background-color: #fafafa; */
  /* background-color: #18181b; */
  /* background-color: #27272a; */
  /* background-color: #fafafa; */
  /* background-color: #27272a; */
  /* background-color: #a1a1aa; */
  /* background-color: #27272a; */
  /* background-color: #fafafa; */
  /* background-color: #7f1d1d; */
  /* background-color: #fafafa; */
  /* background-color: #27272a; */
  /* background-color: #27272a; */
  /* background-color: #d4d4d8; */
  /* background-color: #2662d9; */
  /* background-color: #2eb88a; */
  /* background-color: #e88c30; */
  /* background-color: #af57db; */
  /* background-color: #e23670; */
  /* 0.5rem; */
  
}
@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background;
  }
}